<div class="container">

    <div class="jumbotron">
        <h1 class="display-4">BURGER TIME!!!!</h1>

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Burger Name</label>
                <input id="burger-name" type="text" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">What kind of burger would you like to eat??</small>
            </div>

            <button id="burger-submit" type="button" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-6 not-devoured">

        {{#each hbobj}}
        {{#unless this.devoured}}

        <div class="card" style="width: 18rem;">

            <div class="card-body">
                <h5 class="card-title">{{this.burger_name}}</h5>
                <button data-id={{this.id}} class="devour" id="burger-submit" type="submit"
                    class="btn btn-primary">Devour!!!!!</button>

            </div>
        </div>
        {{/unless}}
        {{/each}}
    </div>

    <div class="col-md-6 devoured">
        {{#each hbobj}}
        {{#if this.devoured}}

        <div class="card" style="width: 18rem;">

            <div class="card-body">
                <h5 class="card-title">{{this.burger_name}}</h5>

            </div>
        </div>
        {{/if}}
        {{/each}}
    </div>
</div>